 <template name="userSubmit">
  <div class="jumbotron">
    <h2>Are you a happy tweeter?</h2>
    <p>Lets find out!</p>
    <form class="main form page">
      <div class="form-group">
        <label class="control-label" for="twitter_handle">Twitter Handle</label>
        <div class="controls">
            <input name="twitter_handle" id="twitter_handle" type="text" value="" placeholder="@matteleonard" class="form-control"/>
        </div>
      </div>
      <input type="submit" value="Judge Me All Mighty Server!" class="btn btn-primary pull-right"/>
      <div class="clearfix"></div>
    </form>
  </div>
</template>